hmtl
	head
		meta(charset='UTF-8')
		link(rel='stylesheet' href='https://w3schools.com/w3css/4/w3.css')
	body
		div(class='w3-container w3-blue ')
			h1(align="center") Project Record Recebido
		table(class='w3-table w3-striped w3-border')
			tr
				th Nome/Chave:
				td #{chave}
			tr
				th Título:
				td #{title}
			tr
				th Sub-título:
				td #{subtitulo}
			tr
				th Data Ínicio:
				td #{sdate}
			tr
				th Data Fim:
				td #{edate}
			tr
				th Nome Aluno:
				td #{anome}
			tr
				th Número Aluno:
				td #{anumero}
			tr
				th E-mail Aluno
				td #{amail}
			tr
				th Nome Supervisor
				td #{snome}
			tr
				th E-mail Supervisor
				td #{smail}
			tr
				th Ficheiro 1:
				td #{ficheiro1}
			tr
				th Ficheiro 2:
				td #{ficheiro2}
			tr
				th Ficheiro 3:
				td #{ficheiro3}
			tr
				th Ficheiro 4:
				td #{ficheiro4}
			tr
				th Ficheiro 5:
				td #{ficheiro5}
			tr
				th Ficheiro 6:
				td #{ficheiro6}
	footer(class="w3-blue")
		h5(align="center") Gerado pelo servidor responsável pelo Registo de Project Records.

