extends layout

block content
  .main.container
    .row
      .tabbable
        .tab-content.no-border.padding-24
          #home.tab-pane.in.active
            .row
              .col-xs-12.col-sm-3.center
                br
                br
                img.social-avatar(style="max-width:240px; max-height: 240px;"  src='../images/avatar.png')
                br
                br
                .col-sm-offset-2
                  form(method='GET' action='/profile/editavatar')
                  button.btn.btn-primary.btn-block(type='submit') Change avatar
                .space.space-4
              .col-xs-12.col-sm-9
                h4.blue
                  span.middle #{user.name}
                  span.label.label-purple.arrowed-in-right
                    i.ace-icon.fa.fa-circle.smaller-80.align-middle
                    | 									online
                .profile-user-info
                  .profile-info-row
                    .profile-info-name  Email 
                    .profile-info-value
                      span #{user.email}
                  .profile-info-row
                    .profile-info-name  Location 
                    .profile-info-value
                      i.fa.fa-map-marker.light-orange.bigger-110
                      span #{user.address}
                  .profile-info-row
                    .profile-info-name  Age 
                    .profile-info-value
                      span #{user.age}
                  .profile-info-row
                    .profile-info-name  Gender 
                    .profile-info-value
                      span #{user.gender}
                  .profile-info-row
                    .profile-info-name  Profession
                    .profile-info-value
                      span #{user.profession}
                  .profile-info-row
                    .profile-info-name  Cellphone
                    .profile-info-value
                      span #{user.cnumber}
                  .profile-info-row
                    .profile-info-name  Type 
                    .profile-info-value
                      span #{user.type}
                br
                form(method='GET' action='/profile/editprofile')
                  button.btn.btn-primary.btn-block(type='submit') Edit your profile
            .space-20
            br
            br
            .row
              .col-xs-20.col-sm-10
                .widget-box.transparent
                  .widget-header.widget-header-small
                    h4.widget-title.smaller
                      i.ace-icon.fa.fa-check-square-o.bigger-110
                      | 										Little About Me
                  .widget-body
                    .widget-main
                      p
                        | My job is mostly lorem ipsuming and dolor sit ameting as long as consectetur adipiscing elit.
                      p
                        | Sometimes quisque commodo massa gets in the way and sed ipsum porttitor facilisis.
                      p
                        | The best thing about my job is that vestibulum id ligula porta felis euismod and nullam quis risus eget urna mollis ornare.
                      p
                        | Thanks for visiting my profile.