extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar') 
          | #{user.name}
          br
          h5.display-8 Name: #{user.name}
          br
          h5.display-8 Gender: #{user.gender}
          br
          h5.display-8 Age: #{user.age}
          br
          h5.display-8 Email: #{user.email}
          br
          h5.display-8 Address: #{user.address}
          br
          h5.display-8 Profession: #{user.profession}
          br
          h5.display-8 Cellphone number: #{user.cnumber}
        h6 __________________________________________________________
        form(method='GET' action='/myPosts')
        button.btn.btn-primary(type='submit') Your Posts

      form(method='GET' action='/editprofile')
        button.btn.btn-primary(type='submit') Edit your profile