extends layout

block content
  .main.container.clearfix
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2
          img.avatar.img-circle.hidden-xs-down(src='/images/avatar.png', alt='avatar') 
        if(name)
          | #{name}
        if(name)
          br
          h5.display-8 Name: #{name}
        if(gender)
          br
          h5.display-8 Gender: #{gender}
        if(age)
          br
          h5.display-8 Age: #{age}
        if(email)
          br
          h5.display-8 Email: #{email}
        if(address)
          br
          h5.display-8 Address: #{address}
        if(profession)
          br
          h5.display-8 Profession: #{profession}
        if(cnumber)
          br
          h5.display-8 Cellphone number: #{cnumber}
      form(method='GET' action='/editprofile')
        button.btn.btn-primary(type='submit') Edit your profile